default menu.c32
prompt 0
timeout 0
menu title **** OpenShift 4 BOOTSTRAP PXE Boot Menu ****

label Install RHCOS 4.20.0 Bootstrap Node
 kernel http://{{dns_server_ip}}:8080/openshift4/images/{{kernel}}
 append ip=dhcp rd.neednet=1 coreos.inst.install_dev=vda console=tty0 console=ttyS0 coreos.inst=yes coreos.live.rootfs_url=http://{{dns_server_ip}}:8080/openshift4/images/{{rootfs}} coreos.inst.ignition_url=http://{{dns_server_ip}}:8080/openshift4/4.20.0/ignitions/{{bootstrap}} initrd=http://{{dns_server_ip}}:8080/openshift4/images/{{initramfs}}